<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|EB+Garamond|Old+Standard+TT" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title>Social Media Self Care Quiz</title>
      </head>
      <body class="grad">
        <center><form method="POST" action ="/results">
          <h1 class="main_title">Welcome to Social Media Self Care</h1>
          <h3 class="rcorners2">About Us</h3>
          <p class="main_caption">With social media being such a huge part of people's lives, people often focus too much on other people. We hope to help people direct their focus more on themselves. Take the quiz below to find your most used social media platform and discover self-care tips made just for you!</p>
          <h2 class="rcorners1">Find Your Most Used Social Media Platform!</h2>
        <div id = "quest">
        <h3 class="questions">Which one of these people are you most familiar with?</h3>
        <input type="radio" name="person" value="3">Shane Dawson <br>
        <center><img src="https://bit.ly/2JBttLj"height=70px></center>
        <input type="radio" name="person" value="1">Kanye West<br>
        <center><img src="https://bit.ly/2mwGE7b" height=71px></center>
        <input type="radio" name="person" value="2">Selena Gomez<br>
        <center><img src="https://bit.ly/2zUDUu2" height="70px" width="71px"></center>
        <input type="radio" name="person" value="4">Backpack Kid<br>
        <center><img src="https://bit.ly/2uznemQ" height="70px" width="70px"></center>
        <h3 class="questions">On average, how long are the videos you watch?</h3><br>
        <input type="radio" name="video" value="1">2 minutes<br><br>
        <input type="radio" name="video" value="2">30 seconds<br><br>
        <input type="radio" name="video" value="4">7 seconds<br><br>
        <input type="radio" name="video" value="3">10 minutes<br><br>
        <h3 class="questions">What do you like to do when you're stressed?</h3>
        <input type="radio" name="hobby" value="1">Catch up on celebrities/news
        <center><img src="https://bit.ly/2uyeIEA" height="70px" width="70px"></center><br>
        <input type="radio" name="hobby" value="2">Cook
        <center><img src="https://bit.ly/2LjKH4R" height="70px" width="70px"></center><br>
        <input type="radio" name="hobby" value="4">Play video games
        <center><img src="https://bit.ly/2uJcRMg" height="70px"></center><br>
        <input type="radio" name="hobby" value="3">Watch beauty/makeup videos
        <center><img src="https://bit.ly/2Ltdp3C" height="70px"></center><br>
        </div> 
        <button class="button" style="vertical-align:middle"><span>Submit</span></button>
        </form>
      </body>
      </html>