<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "stylesheets/sidney.css">
    <title>Video Games and Humor</title>
    <script>
function goBack() {
    window.history.back()
}
</script>
  </head>
  <body>
    <button onclick="goBack()">Go Back</button>
    <h1 class = "header">Video Games and Humor</h1>
    <img src="http://adanai.com/wp-content/uploads/2013/03/Laughing-Dog.jpg">
    <p class ="intro">Random Encounter! Your answers landed you in Video games and Humor! Using the internet you dig through the deepest depths of YT and websites galore to make you and your friends laugh. When you are not laughing, you can be found infront of a TV with a controller in your hand, grinding like there is no tomorrow.</p>
    
    <h1 class = "Humor"> Humor </h1>
    <p class = "H_Text">They say laughing is contagious which is very true! Laughing is both healthy and attractive, so dont get down in the dumps that you landed on this page! I absolutely love to laugh, so I'll help pass it on my giving you links and websites that make me cry with laughter!</p>
    <br>
    <h2 class = "Vines">Vines</h2>
    <p class = "V_Text">Vines are 3-8 second clips that are extremly hilarious! Although the app has died, some viners continue to make content on Youtube. Some non-swearing viners include:
    <a href="https://www.youtube.com/channel/UCxSz6JVYmzVhtkraHWZC7HQ">Liza Koshy</a>, <a href="https://www.youtube.com/user/Thatsthat24">Thomas Sanders</a>, and <a href="https://www.youtube.com/channel/UCuanFncsQWzKrmyxB5CXs5A">David Lopez</a>. If you dont like any specific Viner, you can watch a clean vine <a href="https://www.youtube.com/watch?v=9GI6aVaouR0">compilation!</a></p>
    <br>
    <p class = "V_Text2"> If you are older or dont mind swears, you can watch some viners like: <a href="https://www.youtube.com/user/BrandonCalvillo">Brandon Calvillo</a>, <a href="https://www.youtube.com/user/christiandelgrosso">Christian Delgrosso</a>, and <a href="https://www.youtube.com/user/BachelorsPadTv">King Bach</a>. Again, if you have no interest in a specific viner you can watch a <a href="https://www.youtube.com/watch?v=hqThVULc5Z8">compilation!</a></p>
    <h2 class = "C_M">Comics and Memes</h2>
    <p class = "C_M_Text"> Comics along with memes are mainly dark humor, but when you find the perfect meme or comic, it can boost your day by a million! Some comic artists I enjoy include <a href="https://theodd1sout.com/pages/comics">TheOdd1sOut</a>, <a href="http://shencomix.com/">Owlturd</a>, and <a href="https://randowis.com/category/short-comics/">Randowis</a>. If you have no interest in comics you can look at <a href="https://www.google.com/search?biw=1440&bih=826&tbm=isch&sa=1&ei=ZJdQW6mdAcfp_QaPsrwg&q=cat+memes&oq=cat+memes&gs_l=img.3..0i67k1j0l9.2347.2347.0.4313.1.1.0.0.0.0.79.79.1.1.0....0...1c.1.64.img..0.1.79....0.ECP7hQdn8KY">Cat Memes</a> or maybe some <a href="https://www.google.com/search?biw=1440&bih=826&tbm=isch&sa=1&ei=aZdQW5qLAu2N_Qa407rICQ&q=twitter+memes&oq=twitter+memes&gs_l=img.3..35i39k1j0j0i67k1l2j0l6.87545.90040.0.90152.14.14.0.0.0.0.76.815.13.13.0....0...1c.1.64.img..1.13.813.0...0.CRNyXY_OEdQ">Twitter Memes!</a></p>
    <h2 class = "YT_C">Youtube Comedy Channels</h2>
    <p class = "YT_C_Text">Youtube, both filled with the good, the bad, and the ugly.I Can help you sort out the good and the bad comedy channels! Youtube channels I enjoy include: <a href="https://www.youtube.com/channel/UC-j3S3cIXZSzzCkJhJW9_eg">Comment Awards</a>, <a href="https://www.youtube.com/user/hotbananastud">Brandon Rogers</a>, <a href="https://www.youtube.com/user/CinemaSins">Cinema Sins</a>, and <a href="https://www.youtube.com/user/HowToBasic">How To Basic!</a></p>
    <h1 class = "VideoGames"> Video Games </h1>
    <p class = "VG_Text">Videogames, a huge community of 1.2 billion people, with 52% male and 42% female. You are a part of this gigantic group, for playing the many styles of games fills you with determination! If you are not yet part of this group, I welcome you, and will grant you access to popular games that you can start off with!</p>
    <h2 class = "RPGs">RPGs (Role Playing Games)</h2>
    <p class = "RPG_Text">RPGs or Role Playing Games are Games in which you follow a story line, complete tasks, and fight bosses. Usually you dont play with other people so if you would like to talk to people, these might not be for you. Some games you should try are <a href="https://elderscrolls.bethesda.net/en/skyrim">Skyrim</a> and <a href="https://www.guerrilla-games.com/play/horizon">Horizon Zero Dawn</a>.</p>
    <h2 class = "Strategy">Strategy</h2>
    <p class ="St_Text"> Strategy Games are for those who are beyond clever. If you want to stretch your mind or get better at games in general, I recommend: <a href="https://starcraft2.com/en-us/">Starcraft 2</a> and <a href= "https://xcom.com/">XCOM 2</a>.</p>
    <h2 class = "Sports">Sports</h2>
    <p class = "S_Text">Most gamers are althletes, so sports gaming is perfect for those who are done shooting and doing the impossible. Some I recommend from watching althletes play are: <a href="https://www.easports.com/fifa/buy/usa">Fifa 18</a> and <a href="https://www.2k.com/games/nba-2k18">NBA 2k18</a>.</p>
    <h2 class = "Action">Action Packed</h2>
    <p class = "A_Text">Action. The most popular game type, with shooting and story lines and more! Usually in the genres First-Person Shooters and horror. Some very popular games that almost everyone knows, include: <a href="https://www.epicgames.com/fortnite/en-US/buy-now/battle-royale?utm_source=GoogleSearch&utm_medium=Search&utm_campaign=an*YH_pr*FNBR_ct*Search_pl*Brand_co*US_cr*broad&utm_id=847507918&utm_content=&gclid=CjwKCAjw7cDaBRBtEiwAsxprXTlmkDEk_7yIkpsnBrxONPtIEM1Zd5VNpUAC2Kr7p1UKF8VuPSFRTBoCDq8QAvD_BwE">Fortnite</a>, <a href="https://www.rockstargames.com/grandtheftauto/">GTA</a>, and <a href="https://www.callofduty.com/">COD (Call of Duty)</a>. Although they are fun to play i think games like <a href="https://us.shop.battle.net/en-us/product/overwatch?utm_source=Google&utm_medium=Search&utm_content=25214486&utm_campaign=BLZ_OW_EG_0_0_0_BLZ_NA">Overwatch</a>, <a href="https://www.zelda.com/breath-of-the-wild/">The Legend of Zelda: Breath of the Wild</a>, <a href="https://www.ubisoft.com/en-us/game/assassins-creed-origins/">Assassins Creed</a>, and <a href="https://www.destinythegame.com/">Destiny</a> are underestimated.</p>
    <h2 class = "Workout">Workout</h2>
    <p class = "W_Text">Videogames are good for work-outs, It saves your high score and makes it competitive for the whole family! In fact, the third most sold videogame was <a href="https://www.nintendo.com/games/detail/1OTtO06SP7M52gi5m8pD6CnahbW8CzxE">Wii Sports</a>! Some other work out games include <a href="https://www.nintendo.com/games/detail/2EC398vHy15QEeuA2gp2AqlCpANwFMYL">Just Dance</a>(recommend Just Dance 2) and <a href="http://wiifit.com/">Wii Fit</a>!</p>
  </body>
</html>
