<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/christina2.css"
  </head>
  <body>
    <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">other</a></li>
          <li><a href="#">Self Care</a></li>
          <li><a href="#">Puns</a></li>
        </ul>
      </nav>
    <br>
    <br>
    <br>
<h1 align="center">PUNS</h1>
<h2> My favorite self care tip is to pretend you're a demon inhabiting a humans body and you gotta look after it, treat it right, cause these things are weak af man and you gotta protect your host.</h2>
  <img src="https://media1.giphy.com/media/9uIjF6UJkWXffgLc7J/giphy.gif">
  <p><h2>Self care is the MOST important thing !!! Wear a facemask. Drink water. Take a nap. Take a bath. Quit your job. Post 500 times a day. Gossip constantly. Alienate urself from everyone that disagrees with you even remotely. Wear a hazmit auit. Move to a bunker underground.</p>
  <header></h2>
  
  <h3>okay  more🤪🤩</h3>
  <p><h2> Me taking underserved breaks in the name of self-care after doing bare minimum.</h2><p>
  
  <img src="https://www199.lunapic.com/do-not-link-here-use-hosting-instead/153209235108034766?5260830494">
  
  
    <div class="container">
      <h1 class="logo"></h1>
      
      
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">other</a></li>
          <li><a href="#">self care</a></li>
          <li><a href="#">puns</a></li>
        </ul>
      </nav>
    </div>
  </header>
  </body>
</html>
