<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lateef" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <title>Youtube</title>
  </head>
  <body bgcolor=#ffece5>
   <center> <h1 class="title"> Congrats! Your Most Used Social Media Platform is Youtube! </h1>
<img src="https://media.giphy.com/media/13Nc3xlO1kGg3S/source.gif" height="100px">
    <p class="caption">While others enjoy faster forms of media, you prefer relaxing and watching longer videos from your favorite creators. You probably watch beauty gurus or other beauty videos while sipping your green juice.</p>
    <center><p class="caption"> Here are some tips for self-care: </p>
<p> Take time away from social media and screens to focus on yourself. Too much consumption is never good in terms of your mental health.Make sure to stay fit and healthy. Studies show people who eat and exercise right have more positive and ultimitely, happier lives.</p>
   </center>
    <p class="caption">Here are some DIY facemasks to help with your relaxation:</p></center>
    <p class="facemask_title">Avacado Oatmeal Mask</p>
    <img src="https://media1.tenor.com/images/0dfbcdf81ec476779ddabcfecfda808e/tenor.gif?itemid=11578140" padding-right=200px height=250px>
    <ul class="text">
        <li>mash half a ripe avacado and mix with half a cup of oatmeal</li>
        <li>apply and wait for 10-15 minutes</li>
        <li>rinse with lukewarm water</li>
    </ul>
        <img src="http://pngimg.com/uploads/avocado/avocado_PNG15505.png" height="100px">
    <p class="facemask_title">Banana, Orange, and Honey Mask</p>
    <ul class="text">
         <li>mash one and a half bananas and mix with a tablespoon of honey and orange juice</li>
         <li>apply and wait for 10-15 minutes</li>
         <li>rinse with lukewarm water</li>
       </ul>
        <img src="http://www.pngmart.com/files/1/Banana-Icon-PNG.png" height="120px">
    <p class="facemask_title">Coconut Oil and Yogurt Mask</p>
    <ul class="text">
      <li>mix two teaspoons of melted coconut oil and 1 tablespoon of plain yogurt</li>
      <li> apply and wait for 15 minutes</li>
      <li> rinse with lukewarm water </li>
    </ul>
    <img src="http://www.pngmart.com/files/1/Coconut.png" height="95px"><br><br>
        <button class="ybutton"onclick="goBack()">Go Back</button>
    <script>
function goBack() {
    window.history.back();
}
</script>
<br>
<br>
  </body>
</html>